h2 {
   font-size: 1.5em;
   font-weight: bold;
   margin-bottom: .83em;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
	 zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
html, body  {
	outline:0px;
	padding:0px;
	border:0px;	
	margin:0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px
}
body {
	background-image:url(../img/back-gradiant2.png);
	background-repeat:repeat-x;
	background-color:#94c1e3;
	outline:0px;
	padding:0px;
	border:0px;	
	margin:0px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.me_left {
	float: left;
}
.me_right {
	float: right;
}
.me_absolute {
	position: absolute;
}
.me_relative {
	position: relative;
}
.me_hide {
	display: none;
}
.me_clear {
	clear: both;
}
.boldify {
	font-weight: bold;
}
p {
	margin: 0;
	padding: 0;
}
#flashMessage {
	clear: both;
	background: green;
	color:#fff;
	font-size: 140%;
	font-weight: bold;
	padding: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	padding: 7px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#flashMessage.flash_error{
	background: #fff5f5;
	color: #dd4829;
	border: 1px solid red;
	border-radius: 4px;
	padding: 15px;
}

#flashMessage.flash_error i[class^="icon-"]{
	display: block;
	float: left;
	font-size: 64px;
	margin-right: 20px;
}

form div.error-message{
	color: red;
	font-size: 11px;
}

form label span.optional{
	color: #AAA;
	font-size: 11px;
}

#grand_container {
	width: 100%;
	height: 100%;
	border-top: 5px solid #24557a;
	outline:0px;
	padding:0px;
	border:0px;	
	margin:0px;
	font-family: Verdana, Geneva, sans-serif;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent !important;
	background-image: url("../img/cloud.png");
	background-origin: padding-box;
	background-position: center top !important;
	background-repeat: no-repeat;
	background-size: auto auto;
}
#grand_container.bg_for_no_cc {
	background: #96c3e2 url(../img/cloud.png) no-repeat 50% -20px;
	height: 1240x
}
#main_container {
	width: 994px;
	margin: 0 auto;
}
#main_container.bg_for_no_cc {
	background: url(../img/falsebg.jpg) no-repeat 50% 0;
	height: 1233px;
}
#wrapper_to_container_elements {
	background-color: #fff;
	min-height: 950px;
	border-radius: 5px;
	border: 1px solid #e6e9ed;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	-o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	width: 100%;
	margin-bottom: 15px;
}
.btn_container{
	right:-8px; 
	top:-8px; 
	z-index:100
}
.btn_self {
	background: rgb(254,254,254);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(249,249,249,1) 28%, rgba(246,246,246,1) 56%, rgba(245,245,245,1) 84%, rgba(250,250,250,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(28%,rgba(249,249,249,1)), color-stop(56%,rgba(246,246,246,1)), color-stop(84%,rgba(245,245,245,1)), color-stop(100%,rgba(250,250,250,1))); 
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(249,249,249,1) 28%,rgba(246,246,246,1) 56%,rgba(245,245,245,1) 84%,rgba(250,250,250,1) 100%); 
	background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(249,249,249,1) 28%,rgba(246,246,246,1) 56%,rgba(245,245,245,1) 84%,rgba(250,250,250,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(249,249,249,1) 28%,rgba(246,246,246,1) 56%,rgba(245,245,245,1) 84%,rgba(250,250,250,1) 100%);
	background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(249,249,249,1) 28%,rgba(246,246,246,1) 56%,rgba(245,245,245,1) 84%,rgba(250,250,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fafafa',GradientType=0 );
	width: 25px;
	height: 25px;
	border: 3px solid #fff;
	-moz-border-radius:25px;
	-webkit-border-radius:25px
	-o-border-radius:25px;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	-o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
	cursor: pointer;
}
.cross_icon {
	background : transparent url('../img/modal-cross.png') no-repeat 50% 50%;
	width: 100%;
	height: 100%;
	display: block
}
.btn_self:hover {
	-webkit-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.22);
	box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.22);
	-o-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.22);
}
.btn_self:hover .cross_icon {
	background : transparent url('../img/cross-hover.png') no-repeat 50% 50%;
}
ul.search_result_container {
	position: absolute; 
	top:127px; 
	background-color: #fff; 
	width: 452px; 
	height: 195px; 
	overflow-y: scroll; 
	border: 1px solid #ccc;
}
ul.search_result_container li {
	height: 22x;
	line-height: 20px;
	padding:5px; 
	cursor: pointer
}
ul.search_result_container li:hover {
	background-color: rgba(180, 215, 241, 0.5)
}
.shadow {
	-webkit-box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}
input.error {
	border-color: #f00 !important;
	color: #f00
}
.counter {
    color: #666666;
    font-size: 8px;
    font-weight: bold;
    height: 14px;
    letter-spacing: -2px;
    position: absolute;
    right: -10px;
    text-align: center;
    text-indent: 0;
    top: 0;
    width: 14px;
}
/**
*	Fancy Alert Box
*/
#fancyAlertBox {
	line-height: 1.5em;
	text-align: center;
}
#fancyAlertBox .alert_message {
	text-align: center;
	font-size: 12px;
	color: #000;
	height: 70px;
	padding: 5px;
}
#fancyAlertBox .alert_box_buttons {
	width: 100%;
	text-align: center;
}
#fancyAlertBox .alert_box_buttons .alert_box_ok {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 10px;
    padding: 2px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	float: none;
	width: 40px;
}
#fancyAlertBox h5 {
	background: #376599;
	margin: 0;
	height: 25px;
	line-height: 25px;
	color: #fff;
	padding-left: 10px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 13px;
}
#fancyAlertBox h5 span {
    background-color: #1F395A;
    border-radius: 16px 16px 16px 16px;
    float: right;
    font-size: 8px;
    height: 16px;
    line-height: 15px;
    margin: 3px;
    text-align: center;
    width: 16px;
	cursor: pointer;
}
#file_cabinet_first_visit_popup_container  {
	z-index: 2030;
}
.place_holder_each {
	width: 283px;
	height: 281px;
}
.place_holder_each.folder_uploader {
	left: 345px;
}